/* Reset CSS */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:white;
  color:#333;
}

#app{
  width:100%;
  min-height:100vh;
}
.hero{
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:80px 20px 20px; /* 80px supaya tidak ketutup navbar */
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('gambar/kapal-bg.webp');
  background-size:cover;
  background-position:center;
}